html {
    font-family:  'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.2px;
    background-image: url(/blog/background.jpg);
    background-color: rgba(255, 235, 235, 0.76);
    background-blend-mode: lighten;    
}

body {
    width: 990px;
    height: auto;
    margin: auto;
    margin-top: 25px;

border-width: 8px;
          border-style: solid;
          border-image: url(./moonquake/opaque white lace border.png) 8 fill round;
      }
      

.header {
    display: flex;
    height: auto;

    justify-content: center;


}

.main {
    display: flex;
    justify-content: space-between;
}

.blog {
    width: 100%;
    height: 600px;
    padding: 6px;
    background-color: antiquewhite;

    overflow:scroll;
    overflow-x: hidden;
        
    border: 2px solid #c99c78;
    border-right-style: none;
    border-radius: 0 0 0 10px;
}
