html {
    font-family:  'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.2px;
    /*background-image: url(/images/amano butterflies.jpg);*/
    background-color: rgb(41, 38, 45);
    background-blend-mode: lighten;    
}

body {
    width: 990px;
    height: auto;
    margin: auto;
    margin-top: 25px;

border-width: 25px;
          border-style: solid;
          border-image: url("https://i.imgur.com/75CZuol.png") 54 fill round;
      }
      

.header {
    display: flex;
    height: auto;

    justify-content: center;


}

.main {
    display: flex;
    justify-content: space-between;
}

.blog {
    width: 100%;
    height: 600px;
    padding: 6px;
    background-color: floralwhite;

    overflow:scroll;
    overflow-x: hidden;
        
    border: 2px solid plum;
    border-right-style: none;
    border-radius: 0 0 0 10px;
}

.blog::-webkit-scrollbar {
    width: 6px;
    }


.blog::-webkit-scrollbar-track {
background-color: #f5e3d8;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #eeb999;
}    
.blog::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background: #f5c6a9;
border: 1px solid #ebafaf;
}    


.side {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 1% 4px;
    background-color: thistle;
    
    border: 2px solid plum;
    border-left-style: none;
    border-radius: 0 0 10px 0;
}
.text {
    padding: 0 8px;
}

.gallery{
    width: 100%;
}

.gallery img {
    width: 280px;

}

.innersplit {
    display: flex;
    justify-content: space-evenly;
}

.split1 {
    width: 50%;
}
.header img {
    border: 2px solid plum;
    border-bottom-style: none;
    border-radius: 10px 10px 0 0;    
    width: 100%;
    height: auto;
    
}

details img {
    height: 190px;
    padding: 3px; 
    margin: 0 8px;
    
    border: 2px solid rebeccapurple);
}
.side img {
    width: 200px;
    align-self: flex-start;
    float: right;
    padding: 3px; 
    margin: 8px;
    border: 2px solid rebeccapurple;
}


details {
    padding: 0 2%;
    
}

details p:first-of-type {
    margin-top: 10px;
}


summary {
    font-weight: bolder;
    font-size: 17px;
    color:#64340d;

    margin: 8px 0 ;
}

summary::marker {
    content:'✩ '; 
}

[open] summary::marker {
  content: "⟡ ";
}




h3 {
    font-style: italic;
    margin: 2% 0 1% 0;
}

h4 {
    color:#64340d;
    font-style: italic;
    margin: 1% 0;
}

ul, ol {
    margin: 1% 0;
    padding: 0%  0% 0% 6%;
}

p {
    margin: 1% 0;
}

code {
    font-size: 13px;
    padding: 5px;
    margin-bottom: 60px;
    background-color: bisque;
    border:2px solid #ce986b;

}


.spoiler {
  background: rgb(230, 179, 155);
  color: rgb(230, 179, 155);
  cursor: help;
  transition: background 0.6s ease 0.3s, color 0.3s ease 0.35s;
}

.spoiler:hover,
.spoiler:focus {
    color: rgb(0, 0, 0);
    background: none;
}

a:link {
    color:rgb(33, 77, 136);
    text-decoration: none;
}
a:hover {
    color: rgb(192, 112, 46) !important;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color:rgb(138, 68, 11);
    text-decoration: none;
}


details {
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }
  &::details-content {
    opacity: 0;
    block-size: 0;
    transition: content-visibility 1s allow-discrete,
                opacity 0.5s,
                block-size 0.5s;
  }
  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
}
