 html {
    font-family: Georgia, "MSPGothic", 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #1C1C1C;
    color: black;
}

body {
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 8%;
}


.title {
    font-size: 14px;
    text-align: center;

    display: flex;
    justify-content: center;
    margin-bottom: -1%;

}

/** navigation bar start **/
.navbar {
    width: 590px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);

    font-size: 16px;;
}

.navul {
    list-style: none;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    padding: 0px;
    margin: 2% auto;

}

.navli {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 2%;
}

/** navigation bar end **/

.mainbody {
    max-height: 520px;
    margin: 0 auto;
    overflow: auto;

    display: block;
    margin-top: 2%;
    padding: 3% 4%;


    text-align: left;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);

    scrollbar-color: #464646 rgb(32, 32, 32);
    scrollbar-width: thin;
}

.abttop{
    display: block;

}

h3 {
    margin: 0;
}

.homeimg {
    width: 120px;
    float: left;
    padding: 3px;
    margin: 0% 4% 1% 0%;
}


.abtbottom {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5%;
    margin-bottom: 2%;
}

.left{
    width:450px;
}

.changelog{
    max-height: 100px;
    width: 160%;
    padding: 3px 7px;
    
    overflow: auto;
    overflow-x: hidden;

    font-size: 13px;

    scrollbar-color: #464646 rgb(32, 32, 32);
    scrollbar-width: thin;
}

.cltext {
    font-weight: bolder;
    font-size: 15px;
    text-decoration: underline;
    color: rgb(115, 27, 150);
}

img {
    border: 2px solid rgb(75, 75, 75);
    width: 110px;
    height: 100%;
}

hr {
    border: 1px solid rgb(75, 75, 75);
    margin-bottom: 2%;
}

ul > li {
    margin: 3% 0%;
}


p {
    margin: 2% auto;
    line-height: 115%;
}

a {
    padding: 1% 0%;
}

a:link {
    color:rgb(0, 0, 0);
    text-decoration: underline;
}
a:hover {
    color: rgb(115, 27, 150) !important;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color:rgb(221, 177, 253);
    text-decoration: none;
}

footer {
    font-size: 14px;
    text-align: center;
    color: white;
}
