html {
    font-family: Georgia, "MSPGothic", 'Times New Roman', serif;
    font-size: 18px;
    background-color: #1C1C1C;
    color: black;
}

body {
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 8%;
}


.title {
    font-size: 14px;
    text-align: center;

    display: flex;
    justify-content: center;
    margin-bottom: -1%;

}

/** navigation bar start **/
.navbar {
    width: 590px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);

    font-size: 16px;;
}

.navul {
    list-style: none;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    padding: 0px;
    margin: 2% auto;

}

.navli {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 2%;
}

/** navigation bar end **/

.mainbody {
    max-height: 520px;
    margin: 0 auto;
    overflow: auto;

    display: block;
    margin-top: 2%;
    padding: 3% 4%;


    text-align: left;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);

    scrollbar-color: #464646 rgb(32, 32, 32);
    scrollbar-width: thin;
}

 .sitemaplist {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: start;
}


p {
    margin: 3.5% auto;
    line-height: 115%;
}


a {
    padding: 1% 0%;
}

.back {
    margin: 3% auto;
    margin-bottom: 8%;
    font-size: 90%;
}

a:link {
    color:rgb(0, 0, 0);
    text-decoration: underline;
}
a:hover {
    color: rgb(115, 27, 150) !important;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color:rgb(221, 177, 253);
    text-decoration: none;
}

footer {
    font-size: 14px;
    text-align: center;
    color: white;
}


summary::after{
  content: ' +';
}
[open] summary::after {
  content: ' -';
}

summary::marker {
    content: none;
}




