
:root {
    --border-color: rgb(115, 65, 138);
    --header-text-stroke: rgb(49, 5, 14);
    --header-text-color: antiquewhite;
    --mainbody-bg-color: rgba(136, 93, 156, 0.596);
    --left-bg-color: rgb(41, 39, 39);
    --nav-button-bg: rgb(136, 93, 156);
    --img-border: 2px solid rgb(211, 82, 85);
    --p-title-color: rgb(226, 187, 135); 
    --link-hover-color: rgb(170, 56, 236);
    --button-hover-color: rgb(225, 205, 230);
    --page-bg: url(/images/iris.jpeg);
}

body.stars-mode {
    --border-color: #223677;
    --header-text-stroke: rgb(5, 8, 49);
    --header-text-color: rgb(215, 220, 250);
    --mainbody-bg-color: rgba(61, 93, 134, 0.596);
    --left-bg-color: rgb(36, 40, 54);
    --nav-button-bg: rgb(46, 63, 156);
    --img-border: 2px solid rgb(61, 70, 85);
    --p-title-color: rgb(182, 196, 241); 
    --link-hover-color: rgb(81, 113, 216);
    --button-hover-color: rgb(205, 215, 230);
    --page-bg: url(/jv/jv_bgstars.png);
}

body.timelines-mode {
    --border-color: #36105a;
    --header-text-stroke: rgb(26, 5, 49);
    --header-text-color: rgb(237, 215, 250);
    --mainbody-bg-color: rgba(95, 61, 134, 0.596);
    --left-bg-color: rgb(43, 36, 54);
    --nav-button-bg: rgb(97, 37, 146);
    --img-border: 2px solid rgb(74, 61, 85);
    --p-title-color: rgb(208, 182, 241); 
    --link-hover-color: rgb(133, 81, 216);
    --button-hover-color: rgb(220, 205, 230);
    --page-bg: url(/jv/jv_bgtimelines.jpg);
}


html {
    font-family: "MS PGothic", Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #271327;
    color: white;
    background-repeat:repeat;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    z-index:-1;
    background-image: var(--page-bg);
    background-size:130%;
    background-position-x: 60%;
    opacity:0.4;
}


body {
    width: 880px;
    height: auto;
    margin: 3% auto;
    line-height: 122%;

}

.mainbody{
    display: flex;
    align-items: flex-start;
    background-color:var(--mainbody-bg-color);
    
    scrollbar-color: #464646 rgb(32, 32, 32);
    scrollbar-width: thin;
    
}

/*header section*/
.headerimg {
    position: relative;
    text-align: center;
    border: 2px solid var(--border-color)
}

.headerimg > h1 {
    position: absolute;
    top: 0%;
    left: 20px;

    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    color: var(--header-text-color);
    -webkit-text-stroke: 1px var(--header-text-stroke);

    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -3px;
    margin: 4% 0%;
}

.headerimg > img {
    width:100%;
    float:none;
    border: none;
    display: flex;
}

/*header default*/
.headerimg > img:last-of-type {
    display: none;
}
.headerimg > img:nth-of-type(2) {
    display: none;
}
/*header stars mode*/
body.stars-mode .headerimg > img:first-child {
    display: none;
}

body.stars-mode .headerimg > img:nth-of-type(2) {
    display: block;
}
/*header timelines mode*/
body.timelines-mode .headerimg > img:first-child {
    display: none;
}

body.timelines-mode .headerimg > img:last-of-type {
    display: block;
}

/*left section*/
.left {
    width: 80%;
    height: 363px;
    overflow: auto;
    align-content: center;
    background-color:var(--left-bg-color);
    margin: 0.5%;
    padding: 10px;
    border: 2px solid var(--border-color);  
}
.abtpics > img{
    height: 83px;
    width: auto;
}

/** button 2 about **/

#button2 {
    padding: 0px 5px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.bio {
    display: flex;
    justify-content: left;
    margin: 0;
    margin-bottom:3%;

}

#jaycebio{
    flex-direction: column;
}

#jaycebio {
    padding: 0px;
}
.biotext > p {
    margin: 0%;
    margin-bottom:3%;
}

.biotext {
    display: flex;
    flex-direction: column;
}

#viktorbio > img {
    height: 180px;
    width: auto;    
}

#jaycebio > img {
    height: 180px;
    width: auto;
}

/*button 4 playlist */
.lyrics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 650px;
    padding: 0;
    justify-content: space-around;
}

.playlistimgs>img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 0;
    margin-bottom:10%;
}


blockquote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 30%;
    height: 100%;
    margin: 0;
    margin-bottom: 3%;

    white-space:pre-line;
}

blockquote > p {
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: underline;
    color: var(--p-title-color);  
}

/*button5 fan stuff*/

dt {
    font-weight: bold;
}

dd {
    margin: 1%
}

dd:first{
    font-style: oblique;
}

/*right section*/
.right {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0.7% 0.5% 0% 0%;
}

li {
    padding: 5px;
}

.navbox {
    display: flex;
    flex-direction: column;
    margin-bottom:4%;
}

h3 {
    margin: 1% 0%
}

.right > button {
    text-align: center;
    font-size: 16px;
    color: white;
    border:var(--border-color);
    
    border-style:solid;
    border-color: var(--border-color);
    border-width: 2px;


    background-color: var( --nav-button-bg);
    pointer-events: none;
    border-radius: 10px 10px 0px 0px;
}


button {
    font-family: "MS PGothic", Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px 6px;
    margin: 0;
    text-align: left;

    border-style: solid;
    border-top-style: none;
    border-color: #977558;
    border-left-color: var(--border-color);
    border-right-color: var(--border-color);
    border-bottom-color: var(--border-color);
    border-width: 1.5px;

}

button:hover {
    background-color: var(--button-hover-color); 
}

#button6 img {
    width: 220px;
    height: auto;
}

.mainbody > .left > #button6 {
    display: flex;
    overflow:hidden;
    position:relative;
}

.mainbody > .left > #button6 > img {
    height: 180px;
    width: auto;
    transition: .2s;
}

/**.mainbody > .left > #button6 > img:hover {
    position: fixed;
    transform: scale(2.2,2.2);
}**/

.slideshow > img {
    width: 180px;
    height: auto;
    border: 2px solid var(--border-color)
}


img {
    border: var(--img-border);
}

a:link, a:visited {
    color: var(--p-title-color);    
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-color);
    background-color: transparent;
    text-decoration: underline;
}
