:root {
    --border-color: #46290f;
    --header-text-stroke: rgb(49, 15, 5);
    --header-text-color: antiquewhite;
    --mainbody-bg-color: rgba(134, 95, 61, 0.596);
    --left-bg-color: rgb(41, 39, 39);
    --nav-button-bg: rgb(110, 63, 34);
    --img-border: 2px solid rgb(83, 73, 73);
    --p-title-color: rgb(226, 187, 135); 
    --link-hover-color: rgb(236, 137, 56);
    --button-hover-color: rgb(230, 215, 205);
    --page-bg: url(/images/iris.jpeg);

body{
    color:var(--mainbody-bg-color);
    font-family: Georgia;
    font-size: 16px;
    line-height:110%;
    text-align:center;
    margin:10px;
    background-image: 
    background-color: black;
}

header{
    color: purple;
    font-family: Georgia;
    font-size:27px;
    letter-spacing:3px;
    margin-bottom:10px;
    line-height:100%;
    text-align:center;
}

html {
    font-family: "MS PGothic", Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #271d13;
    color: white;
    background-repeat:repeat;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    z-index:-1;
    background-image: var(--page-bg);
    background-size:130%;
    background-position-x: 60%;
    opacity:0.4;
}


body {
    width: 880px;
    height: auto;
    margin: 3% auto;
    line-height: 122%;

}

.mainbody{
    display: flex;
    align-items: flex-start;
    background-color:var(--mainbody-bg-color);
    
    scrollbar-color: #464646 rgb(32, 32, 32);
    scrollbar-width: thin;
    
}

/*header section*/
.headerimg {
    position: relative;
    text-align: center;
    border: 2px solid var(--border-color)
}

.headerimg > h1 {
    position: absolute;
    top: 0%;
    left: 20px;

    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    color: var(--header-text-color);
    -webkit-text-stroke: 1px var(--header-text-stroke);

    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -3px;
    margin: 4% 0%;
}

.headerimg > img {
    width:100%;
    float:none;
    border: none;
    display: flex;
}

/*header default*/
.headerimg > img:last-of-type {
    display: none;
}
.headerimg > img:nth-of-type(2) {
    display: none;
}

/*left section*/
.left {
    width: 80%;
    height: 363px;
    overflow: auto;
    align-content: center;
    background-color:var(--left-bg-color);
    margin: 0.5%;
    padding: 10px;
    border: 2px solid var(--border-color);  
}
.abtpics > img{
    height: 83px;
    width: auto;
}

/** button 2 about **/

#button2 {
    padding: 0px 5px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.bio {
    display: flex;
    justify-content: left;
    margin: 0;
    margin-bottom:3%;

}

#tomoebio{
    flex-direction: column;
}

#tomoebio {
    padding: 0px;
}
.biotext > p {
    margin: 0%;
    margin-bottom:3%;
}

.biotext {
    display: flex;
    flex-direction: column;
}

#tomoebio > img {
    height: 180px;
    width: auto;    
}

#kenshinbio > img {
    height: 180px;
    width: auto;
}

/*button 4 playlist */
.lyrics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 650px;
    padding: 0;
    justify-content: space-around;
}

.playlistimgs>img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    margin: 0;
    margin-bottom:10%;
}


blockquote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 30%;
    height: 100%;
    margin: 0;
    margin-bottom: 3%;

    white-space:pre-line;
}

blockquote > p {
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: underline;
    color: var(--p-title-color);  
}

/*button5 fan stuff*/

dt {
    font-weight: bold;
}

dd {
    margin: 1%
}

dd:first{
    font-style: oblique;
}

/*right section*/
.right {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 0.7% 0.5% 0% 0%;
}

li {
    padding: 5px;
}

.navbox {
    display: flex;
    flex-direction: column;
    margin-bottom:4%;
}

h3 {
    margin: 1% 0%
}

.right > button {
    text-align: center;
    font-size: 16px;
    color: white;
    border:var(--border-color);
    
    border-style:solid;
    border-color: var(--border-color);
    border-width: 2px;


    background-color: var( --nav-button-bg);
    pointer-events: none;
    border-radius: 10px 10px 0px 0px;
}


button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px 6px;
    margin: 0;
    text-align: left;

    border-style: solid;
    border-top-style: none;
    border-color: #977558;
    border-left-color: var(--border-color);
    border-right-color: var(--border-color);
    border-bottom-color: var(--border-color);
    border-width: 1.5px;

}

button:hover {
    background-color: var(--button-hover-color); 
}

#button6 img {
    width: 220px;
    height: auto;
}

.mainbody > .left > #button6 {
    display: flex;
    overflow:hidden;
    position:relative;
}

.mainbody > .left > #button6 > img {
    height: 180px;
    width: auto;
    transition: .2s;
}

/**.mainbody > .left > #button6 > img:hover {
    position: fixed;
    transform: scale(2.2,2.2);
}**/

.slideshow > img {
    width: 180px;
    height: auto;
    border: 2px solid var(--border-color)
}


img {
    border: var(--img-border);
}

a:link, a:visited {
    color: var(--p-title-color);    
    text-decoration: none;
}
a:hover {
    color: var(--link-hover-color);
    background-color: transparent;
    text-decoration: underline;
}
