.banner {
    box-sizing:border-box;
    display:flex;
    justify-content:flex-end;
    align-content:flex-end;
    align-items:flex-end;
    flex-direction:column;
}
.container {
    max-width:100%;
    display:grid;
    grid-template-rows:1050px;
    grid-template-columns:23% 1fr 23%;
    grid-auto-flow:row;
    gap:10px;
    grid-template-areas:
    "sideleft main sideright";
    outline: #fff;
    padding:10px;
    box-sizing:border-box;
    background-color:var(--b);
    margin:var(--ibw) 0;
    height:fit-content;
    overflow:visible;
    position:relative;
}
.container div {
  background-color: #000;
  border: 1px solid white;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}
  
.sideleft{
    grid-area:sideleft;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.sideright{
    grid-area:sideright;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.main{
    grid-area:main;
    display:flex;
    flex-direction:column;
    gap:10px;
    position:relative;
    z-index:999;
}

.links{
    border: 4px solid white;
    background-color: black;
    border-radius:10px 10px 0 0;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    height:fit-content;
    order:2;
}

  .jukebox{
    border: 4px solid white;
    background-color: black;
    border-radius:10px 10px 0 0;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    height:fit-content;
    order:1;
}
