html {
    font-family: 'Lato', 'Calibri', 'Verdana';
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 1px;
    background: url("/images/enyk bg.gif");
    background-color: rgb(41, 38, 45);
    background-blend-mode: lighten;    
}

body {
  background: url("/images/enyk bg.gif"); 
  color: #777;
  font:10px;
  letter-spacing:1px;
  margin:0px; 
  padding:0px 0px 5px 0px;
}
    
.title {
    background:transparent;
    text-transform:uppercase;
    font:bold 9px arial, monospace; 
    color:#666;
    line-height:10px;
    padding:1px;
    padding-bottom:1px;
    padding-left:0px;
    border-bottom:1px solid #ddd;
    margin-bottom:4px;
    letter-spacing:2px;
}

a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}     

a:hover {
    color: #B382D3;
    text-decoration: none;
}    
  
b {
    font-style: bold;
}
    
i {
    font-style: italic;
}
    
textarea {
    font:10px calibri;
    letter-spacing:1px;
    color:#888;
}

::-webkit-scrollbar-thumb {
background-color: #fff;  
border-radius: 0px;
border:1px solid #ccc;
border-right:0px;
}

::-webkit-scrollbar {
width: 7px; height: 0px; 
background: transparent;
}
  

#layout {
  width:750px;
  text-align:left;
  margin:auto;
}

#navigation {
  float:left;
  width:750px;
  vertical-align:top;
  padding:10px 2px 4px 4px;
}

#navi {
  font:bold 9px arial, monospace;
  background-color:#fff;
  color:#777777;
  text-transform:uppercase;
  letter-spacing:2px;
  margin:0px 0px 10px 0;
  padding:5px;
  padding-top:7px;
  border:1px solid mistyrose;
  text-align:center;
}

#navi a {
  font-weight:bold;
  color:#444;
  text-decoration:none;
}

#navi a:hover {
  font-weight:bold;
  color: #B382D3;
  text-decoration:none;
}
 
#header {
  height: 200px;
  width: 750px;
  border:1px solid #333333;
  background: url("/images/enyk song header.jpeg");
  background-repeat:no-repeat;
  border:1px solid mistyrose;
  margin:0px 0px 10px 0;
  padding:0px;
}

#content1 {
  clear:both;
}

.content1box {
  background-color:#FFFFFF; 
  margin: 0px 0px 15px 0; 
  padding: 5px; 
  padding-left: 8px; 
  border: 1px solid mistyrose;
  box-shadow: 5px 6px lavenderblush;
}

#box1 {
  float:left;
  background-color:#FFFFFF; 
  margin:0px 1px 15px 0; 
  padding:5px; 
  padding-left:8px; 
  border:1px solid mistyrose;
  box-shadow: 5px 6px lavenderblush; 
  width:195px;
  height:115px;
  overflow:auto;
  overflow-x:hidden;}

#box2 {
  float:right; 
  background-color:#FFFFFF; 
  margin:0px 0px 15px 1px; 
  padding:5px; 
  padding-left:8px; 
  border:1px solid mistyrose;
  box-shadow: 5px 6px lavenderblush; 
  width:195px;
  height:115px;
  overflow:auto;
  overflow-x:hidden;
}

#morecontent {
  clear:both;
}

.contentbox {
  background-color:#FFFFFF; 
  height: 120px;
  margin:0px 0px 15px 0; 
  padding:5px; 
  padding-left:8px; 
  border:1px solid mistyrose;
  box-shadow: 5px 6px lavenderblush;
  overflow-y: auto;
} 

#lyrics {
  clear: both;
}

.lyricsbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 750px;
  background-color:#FFFFFF; 
  height: 300px;
  margin: 0px; 
  padding: 0px;
  border: 1px solid mistyrose;
  box-shadow: 5px 6px lavenderblush;
  overflow-y: auto;
  justify-content: space-around;
}

.lyrics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 700px;
  height: auto;
  margin: 0px; 
  padding: 0px;
  justify-content: space-evenly;
}

blockquote {
    width: 30%;
    height: 100%;
    margin: 5px 5px 10px 0px;
    white-space: pre-line;
}

blockquote > p {
    font: bolder 11px arial, monospace;
    text-decoration: underline; 
    text-transform: uppercase;
    color: #666;
    line-height: 14px;
    padding: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    margin-bottom: 4px;
    letter-spacing: 2px;
}
  
#sidebar {
  width:175px; 
  float:right; 
  vertical-align:top; 
  padding:10px 4px 4px 2px;
}

.sidebox {
  background-color:#FFFFFF;
  margin:0px 0px 15px 5px;
  padding:5px;
  padding-left:8px;
  border:1px solid mistyrose;
  box-shadow: 5px 6px lavenderblush;
}

#footer {
  clear:both;
  text-align:center;}

#credits {
  margin:auto;
  padding:5px;
  height:30px;
  width:600px;
}
  
